<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理-登陆</title>
    {css href='/static/juhuiadmin/layui/css/layui.css'}
    {css href='/static/juhuiadmin/css/sign.css'}
</head>
<body>
<div id="container">
    <div></div>
    <div class="admin-login-background">
        <div class="admin-header">
        <img src="http://huamei.juhuiny.com/logoback.png" class="admin-logo">
        </div>
        <form class="layui-form" action="">
            <div>
                <i class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
                <input type="text" name="username" placeholder="请输入用户名"
                       autocomplete="off"
                       class="layui-input admin-input admin-input-username">
            </div>
            <div>
                <i class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
                <input type="password" name="password"
                       placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input admin-input">
            </div>
            <!--<div>-->
                <!--<input type="text" name="verify"-->
                       <!--placeholder="请输入验证码"-->
                       <!--autocomplete="off"-->
                       <!--class="layui-input admin-input admin-input-verify">-->
                <!--<img class="admin-captcha" src=""-->
                     <!--onclick="updateVerify()">-->
            <!--</div>-->
            <button class="layui-btn admin-button" lay-submit lay-filter="formDemo">登&nbsp;入</button>


        </form>
    </div>
</div>
{js href='/static/juhuiadmin/layui/layui.js'}
</body>
</html>


