{include file="./index/public/header"/}
<div class="gywmban"></div>
<div class="fxmain">
    <div class="fx_fenlei">
        <div class="news-title-ab" style="">
            <div class="ju_title_bg">
                <div class="i_title white f_16">关于我们</div>
            </div>
        </div>
    </div>
    <div class="fxmain_nr">
        <p> 开封市福星凯恩现代农机有限公司（原开封市福星钢犁厂）是翻转犁专业化生产企业，生产12-240马力配套的“福星”、“凯恩”牌翻转犁，该系列翻转犁具有入土性能良好、阻力小、翻垡好、覆盖严、破碎率高、节油省工等特点。被用户确认为国内品牌，是十亿中国农民“信得过”产品，享有“中国犁王”之美称。在国际上，我厂产品远销东南亚等国家，是我国出口机引犁的重点配套厂家。我厂始终坚持以“质量第一，诚信为本”的宗旨，遵循“科学的管理、优良的产品、完善的服务”这一办厂方针，全心为广大用户服务。
            热情欢迎广大经销商、农民朋友到我厂参观、选购“福星”、“凯恩”牌翻转犁等农机系列产品。</p>
    </div>
</div>
<!--友情链接的结束-->
{include file="./index/public/footer"/}