{include file="./index/public/header"/}
<div class="gywmban"></div>
<div class="ny_web" style="">
    <div class="ny_content">
        <div class="map">
            <div class="map_title c_blue"><a href="">联系我们</a></div>
            <div class="map_nav">您当前的位置：<a href="">主页</a> &gt; <a href="">联系我们</a></div>
        </div>

        <!--  <div class="contact_tip">
            <ul>
              <li class="c05"><a href="#">关于我们</a></li>
              <li class="c01"><a href="#">关于集团</a></li>
              <li class="c02"><a href="#">人才招聘</a></li>
              <li class="c03"><a href="#">商务合作</a></li>
              <li class="c04"><a href="#">联系我们</a></li>

            </ul>
          </div>-->

        <div class="contactUs">
            <div class="contactUs_c">
                <ul>
                    <li>公司名称：宁夏瑞春杂粮股份有限公司</li>
                    <li>咨询电话：0954-2046256</li>
                    <li>销售热线：0954-2653366<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18995439076</li>
                    <li>邮箱：sell@nxrczl.com</li>
                    <li>微信：nx_wglp</li>
                    <li>地址：宁夏固原市原州区清水河工业园区原州路37号</li>
                </ul>
            </div>
        </div>

        <div class="contact_1060">
            <div>
                <p></p>

            </div>
             <p></p><table border="0" cellpadding="0" cellspacing="0" width="100%">
             <tbody>
                 <tr>
                     <td style="border-right-color: rgb(222, 222, 222); border-right-width: 1px; border-right-style: solid;" valign="top" width="53%">
                         <p class="f_16 c_blue">
                             恩施大峡谷景区相关服务</p>
                         <p>
                             咨询电话：400-0718-126 0718-8542333</p>
                         <p>
                             预订电话：400-0718-126 0718-8542333</p>
                         <p>
                             投诉电话：0718-8485869</p>
                         <p>
                             急救电话：0718-8485866</p>
                         <p>
                             在线Q Q：21530038 24505885</p>
                         <p>
                             营销Q Q：800-021-126</p>
                         <p>
                             腾讯微信：恩施大峡谷 （enshidaxiagu8542333）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                         <p>
                             新浪微博：@恩施大峡谷官方微博</p>
                         <p>
                             联系地址：湖北省恩施市沐抚办事处</p>
                         <p>
                             邮政编码：445029</p>
                     </td>
                     <td style="padding-left: 25px;" valign="top" width="47%">
                         <p class="f_16 c_blue">
                             恩施旅游集团</p>
                         <p>
                             咨询电话：400-0718-126 0718-8262094</p>
                         <p>
                             预订电话：400-0718-126 0718-8262094</p>
                         <p>
                             投诉电话：0718-8262093</p>
                         <p>
                             急救电话：0718-8262093</p>
                         <p>
                             在线Q Q：329616533&nbsp; 2013711299</p>
                         <p>
                             营销Q Q：800-021-126</p>
                         <p>
                             腾讯微信：恩施旅游集团(<a href="mailto:2549478906@qq.com">2549478906@qq.com</a>)</p>
                         <p>
                             新浪微博： @恩施旅游集团</p>
                         <p>
                             联系地址：湖北省恩施市金桂大道恩旅大厦硒都茶城11楼</p>
                         <p>
                             邮政编码：445000</p>
                         <p class="f_16 c_blue">
                             &nbsp;</p>
                         <p>
                             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                     </td>
                 </tr>
             </tbody>
         </table>
         <br type="_moz">
        </div>
        <div class="fenxiang">
            <div class="bshare-custom"><a class="bshare-qzone" title="分享到QQ空间"></a><a class="bshare-sinaminiblog" title="分享到新浪微博"></a><a class="bshare-renren" title="分享到人人网"></a><a class="bshare-qqmb" title="分享到腾讯微博"></a><a class="bshare-douban" title="分享到豆瓣"></a><a class="bshare-more bshare-more-icon more-style-addthis" title="更多平台"></a><span class="BSHARE_COUNT bshare-share-count"></span></div>
            <script src="../../../static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh" type="text/javascript" charset="utf-8"></script>
            <script src="../../../static.bshare.cn/b/bshareC0.js" type="text/javascript" charset="utf-8"></script>
        </div>
    </div>
</div>
{include file="./index/public/footer"/}