{include file="./index/public/header"/}
<div class="gywmban"></div>
<div class="ny_web" style="">
    <div class="ny_content">
        <div class="map">
            <div class="map_title c_blue"><a href="">联系我们</a></div>
            <div class="map_nav">您当前的位置：<a href="">主页</a> &gt; <a href="">联系我们</a></div>
        </div>
          <div class="contact_tip">
            <ul>
              <li class="c05"><a href="#">关于我们</a></li>
              <li class="c01"><a href="#">关于集团</a></li>
              <li class="c02"><a href="#">人才招聘</a></li>
              <li class="c04"><a href="#">联系我们</a></li>
            </ul>
          </div>
        <div class="contactUs">
            <div class="contactUs_c">
                <ul>
                    <li>公司名称：宁夏瑞春杂粮股份有限公司</li>
                    <li>咨询电话：0954-2046256</li>
                    <li>销售热线：0954-2653366<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18995439076</li>
                    <li>邮箱：sell@nxrczl.com</li>
                    <li>微信：nx_wglp</li>
                    <li>地址：宁夏固原市原州区清水河工业园区原州路37号</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
{include file="./index/public/footer"/}