{include file="./index/public/header"/}
<div id="content">
    <form action="" method="post" name="Form" id="Form">
        <div class="gywmban"></div>
        <!-- 标题 -->
        <div class="news_list_title">
            <div class="news_list_title_content">
                <div class="news_list_title_left left">
                    <img src="http://www.nxrczl.com/index/skin/images/title_top_hr.png">
                </div>
                <div class="news_list_title_right right">
                    <ul style="list-style-type: none;">
                        <li>当前位置：</li>
                        <li><a href="">首页</a> &gt;</li>
                        <li><a href="/index/toProductList">产品中心</a> </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="sub_content">

            <!-- 右侧导航 -->
            <div class="sub_nav left">

                <ul class="sub_nav_ul ce">

                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>谷物类</a>
                    </li>

                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>杂豆类</a>
                    </li>

                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>块茎类</a>
                    </li>

                </ul>

                <div class="nav_connaction">
                    <img src=/static/index/icon/webcontact.jpg" width="100%">
                    <div style="width: 151px;margin: 0 auto; ">
                        <img src="http://www.nxrczl.com/index/skin/images/weixin_2w.jpg" height="150px" width="150px">
                        <div style="text-align: center;">扫一扫关注</div>
                    </div>
                    <table width="100%">
                        <tbody><tr>
                            <td width="25px"><img src="http://www.nxrczl.com/index/skin/images/icon_posiation.png"></td>
                            <td width="55px">地址：</td>
                            <td>宁夏固原市原州区清水河工业园区原州路37号</td>
                        </tr>
                        <tr>
                            <td><img src="http://www.nxrczl.com/index/skin/images/icon_tel2.png"></td>
                            <td>电话：</td>
                            <td>0954-2046256</td>
                        </tr>

                        <tr>
                            <td><img src="http://www.nxrczl.com/index/skin/images/icon_messages.png"></td>
                            <td>邮箱：</td>
                            <td>sell@nxrczl.com</td>
                        </tr>
                        </tbody></table>
                </div>
            </div>
            <!-- 产品列表 -->
            <div class="ul_list right">
                <ul>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=d4ea7dc8f63a434d8ad0d1366e215e4b&amp;HITS=3538">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=d4ea7dc8f63a434d8ad0d1366e215e4b&amp;HITS=3538">产品名称：精制小米 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>

                                            <!--  判断是否有 html标签-->




                                            小米也称作粟米，是谷子去皮后的结果，谷子是谷类植物，禾木本的




                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=d4ea7dc8f63a434d8ad0d1366e215e4b&amp;HITS=3538">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=5595bdc1b4394880ac49a70dc3ff2feb&amp;HITS=">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=5595bdc1b4394880ac49a70dc3ff2feb&amp;HITS=">产品名称：黄米 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>

                                            <!--  判断是否有 html标签-->




                                            黄米又称黍、糜子、黄米、夏小米、黄小米，有糯质和非糯质之别，糯质黍多作以醇酒，非糯质黍，称为穄，以食用为




                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=5595bdc1b4394880ac49a70dc3ff2feb&amp;HITS=">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=33a3cee699594520a8ab3dbe34765693&amp;HITS=">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=33a3cee699594520a8ab3dbe34765693&amp;HITS=">产品名称：燕麦 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>

                                            <!--  判断是否有 html标签-->




                                            燕麦又名雀麦、野麦子。燕麦一般分为带稃型和裸粒型两大类。世界各国栽培的燕麦以带稃型为主，常称为皮燕麦。我




                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=33a3cee699594520a8ab3dbe34765693&amp;HITS=">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=65ad235a6eba4e2da812bdcffdfd34d7&amp;HITS=3369">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=65ad235a6eba4e2da812bdcffdfd34d7&amp;HITS=3369">产品名称：鹰嘴豆 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>

                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=65ad235a6eba4e2da812bdcffdfd34d7&amp;HITS=3369">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=1da03dc81ddb492aba8b10fbc8888014&amp;HITS=3781">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=1da03dc81ddb492aba8b10fbc8888014&amp;HITS=3781">产品名称：黑豆 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>


                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=1da03dc81ddb492aba8b10fbc8888014&amp;HITS=3781">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=e0428f24f9bc4ef089fbde771aa439db&amp;HITS=3340">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=e0428f24f9bc4ef089fbde771aa439db&amp;HITS=3340">产品名称：荞麦 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>

                                            <!--  判断是否有 html标签-->




                                            荞麦是从野生荞麦演化出来的，但野生荞麦是一种藤本植物，荞麦是直立茎的。荞麦种子是三角形，被一个硬壳包括，




                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=e0428f24f9bc4ef089fbde771aa439db&amp;HITS=3340">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=f41fa5b3ef3046089e28fd8fa32fdf85&amp;HITS=3305">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=f41fa5b3ef3046089e28fd8fa32fdf85&amp;HITS=3305">产品名称：小麦 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>

                                            <!--  判断是否有 html标签-->


                                            一年生草本，高30～120cm。叶鞘无毛；叶舌膜质，短小；叶片平展，条状披针形，长10～20cm，宽5～10mm。



                                            穗状花序圆柱形，直立，长5～10cm，宽




                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=f41fa5b3ef3046089e28fd8fa32fdf85&amp;HITS=3305">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=2ce4200b43f54e8899836876e8b9a825&amp;HITS=3650">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=2ce4200b43f54e8899836876e8b9a825&amp;HITS=3650">产品名称：绿豆 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>

                                            <!--  判断是否有 html标签-->




                                            绿豆是一种豆科、蝶形花亚科虹豆属植物，原产印度、缅甸地区。现在东亚各国普遍种植，非洲、欧洲、美国也有少量




                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=2ce4200b43f54e8899836876e8b9a825&amp;HITS=3650">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=a0a114afbea24daf8d47f99e9bc90948&amp;HITS=3422">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=a0a114afbea24daf8d47f99e9bc90948&amp;HITS=3422">产品名称：黍子 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>

                                            <!--  判断是否有 html标签-->




                                            黍子，单子叶禾本科植物，生长在北方，耐干旱。籽实淡黄色，常用来做黄糕和酿酒。










                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=a0a114afbea24daf8d47f99e9bc90948&amp;HITS=3422">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li style="border:1px solid #EBEBEB;padding:0px 0px 20px 20px;margin-top:20px;">
                        <table width="99%" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td width="20%" style="border-radius:10px;"><a href="/index/toProductXq?PRODUCT_ID=b12c82ccc3b249cc83f40c80275fab43&amp;HITS=3472">
                                    <img src="/static/index/icon/goods.png" width="180" height="200" style="border-radius:10px;box-shadow:0px 0px 5px #000;">
                                </a>
                                </td>
                                <td width="80%" valign="top" style="padding-top:20px;">
                                    <div style="margin: 10px 20px;">
                                        <div><span class="f_20 c_blue">
							 		<a href="/index/toProductXq?PRODUCT_ID=b12c82ccc3b249cc83f40c80275fab43&amp;HITS=3472">产品名称：马铃薯 </a></span> <br>
                                            <span>
							 		价格：￥0 元
							 		</span> <br>

                                        </div>
                                        <div><span>产品简介：</span>

                                            <!--  判断是否有 html标签-->


                                            马铃薯（学名：Solanum tuberosum，英文：potato），茄科茄属，一年生草本植物，别称地蛋、洋芋、土豆等。土豆的人工栽培地最早可追溯到大约公元前8000年到5000年的秘鲁南部地区。原产于南美洲安第斯山区的秘鲁和智利一带。安第斯山脉3800米之上




                                            <a style="color: #D00707;" href="/index/toProductXq?PRODUCT_ID=b12c82ccc3b249cc83f40c80275fab43&amp;HITS=3472">[查看详情...]</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                </ul>
                <div class="div_1180">
                    <div class="line"></div>
                    <div class="page_list" style="width: 650px;margin-left:20px;background-color: red;">
                        <!-- <div id="kkpager"></div>分页 -->
                        <div class="pagination" style="float: right;padding-top: 0px;margin-top: 0px;">	<ul>
                            <li><a>共<font color="red">13</font>条</a></li>
                            <li><input type="number" value="" id="toGoPage" style="width:50px;text-align:center;float:left" placeholder="页码"></li>
                            <li style="cursor:pointer;"><a onclick="toTZ();" class="btn btn-mini btn-success">跳转</a></li>
                            <li><a>首页</a></li>
                            <li><a>上页</a></li>
                            <li><a><font color="#808080">1</font></a></li>
                            <li style="cursor:pointer;"><a onclick="nextPage(2)">2</a></li>
                            <li style="cursor:pointer;"><a onclick="nextPage(2)">下页</a></li>
                            <li style="cursor:pointer;"><a onclick="nextPage(2)">尾页</a></li>
                            <li><a>第1页</a></li>
                            <li><a>共2页</a></li>
                            <li><select title="显示条数" style="width:55px;float:left;" onchange="changeCount(this.value)">
                                <option value="10">10</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="60">60</option>
                                <option value="70">70</option>
                                <option value="80">80</option>
                                <option value="90">90</option>
                                <option value="99">99</option>
                            </select>
                            </li>
                        </ul>
                            <script type="text/javascript">
                                function nextPage(page){	if(true && document.forms[0]){
                                    var url = document.forms[0].getAttribute("action");
                                    if(url.indexOf('?')>-1){url += "&currentPage=";}
                                    else{ url += "?currentPage=";}
                                    url = url + page + "&showCount=10";
                                    document.forms[0].action = url;
                                    document.forms[0].submit();
                                }else{
                                    var url = document.location+'';
                                    if(url.indexOf('?')>-1){
                                        if(url.indexOf('currentPage')>-1){
                                            var reg = /currentPage=\d*/g;
                                            url = url.replace(reg,'currentPage=');
                                        }else{
                                            url += "&currentPage=";
                                        }
                                    }else{url += "?currentPage=";}
                                    url = url + page + "&showCount=10";
                                    document.location = url;
                                }
                                }
                                function changeCount(value){	if(true && document.forms[0]){
                                    var url = document.forms[0].getAttribute("action");
                                    if(url.indexOf('?')>-1){url += "&currentPage=";}
                                    else{url += "?currentPage=";}
                                    url = url + "1&showCount="+value;
                                    document.forms[0].action = url;
                                    document.forms[0].submit();
                                }else{
                                    var url = document.location+'';
                                    if(url.indexOf('?')>-1){
                                        if(url.indexOf('currentPage')>-1){
                                            var reg = /currentPage=\d*/g;
                                            url = url.replace(reg,'currentPage=');
                                        }else{
                                            url += "1&currentPage=";
                                        }
                                    }else{url += "?currentPage=";}
                                    url = url + "&showCount="+value;
                                    document.location = url;
                                }
                                }
                                function toTZ(){var toPaggeVlue = document.getElementById("toGoPage").value;if(toPaggeVlue == ''){document.getElementById("toGoPage").value=1;return;}if(isNaN(Number(toPaggeVlue))){document.getElementById("toGoPage").value=1;return;}nextPage(toPaggeVlue);}
                            </script>
                        </div>
                    </div>
                    <div class="h30"></div>
                </div>
            </div>

            <div class="clear"></div>
        </div>

    </form>
</div>

<!--友情链接的结束-->
{include file="./index/public/footer"/}