{include file="./index/public/header"/}
<!--ban图片切换开始-->
<div class="iban">
    {if !empty($banner)}
    <div class="gg" id="gg">
        <div class="ggLoading">
            <div class="ggLoading2"><em>精彩内容载入中..</em></div>
        </div>
        <div class="ggs">
            <div class="ggBox" id="ggBox">
                {foreach $banner as $vo}
                <a href="javascript:;"><img src="{$vo.banner}" alt="" /></a>
                {/foreach}
            </div>
        </div>
        <div class="ggb">
            <div class="ggBtns" id="ggBtns">
                {volist name="banner" id="vo" key="k" }
                <a href='javascript:void(0)' class="current"><em> {$k}</em></a>
                {/volist}
            </div>
        </div>
    </div>
    {/if}
</div>
<!--视频和关于我们的开始-->
<div  style="width: 100%;min-width: 1180px;height: 429px;overflow: hidden; margin: auto; background: url('/static/index/icon/about_bg.jpg') no-repeat;background-size: cover;">
<div class="spgy">
    <!--关于我们的开始-->
    <div class="gywm">
        <div class="gywm1"> 关于我们</div>
        <div class="gywm2"> <img src="http://juhuispace.juhuiny.com/2019/09/e2443201909307384.jpg" width="244" height="240" />
            <div>
            <h2> {if !empty($us.title)}{$us.title}{/if}</h2>
            <p> {if !empty($us.intro)}{$us.intro}{/if}..<a href="about" target="_blank">[详情]</a> </p>
            <ul>
                <li><a href="about">以人为本</a></li>
                <li><a href="about">和谐共赢</a></li>
            </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <!--关于我们的结束-->
    <div style="clear: both;"> </div>
</div>
</div>
<!--产品中心的开始-->
<div class="jfcp">
    <div class="jfcp_title">
        <p><strong>炬晖产品中心</strong><br />
            <span>PRODUCTS</span></p>
    </div>
    <div class="jfcpleft fl">
        <!--left-->
        <div class="fxxian" style="width: 300px;height: 600px;float:left;">
            <div class="ProductShow_left">
                <div class="ProductShow_l_t">
                    <div><a href="goodslist">
                        <span>小米</span>也称作粟米，是谷子去皮后的结果，谷子是谷类植物，禾木本的一种，原产于中国北方黄河流域
                        后发展到各地都有不同程度种植，小米有白、红、黄、黑、橙、紫各种颜色，可用来酿酒，最主要是用来熬粥。
                    </a></div>
                </div>
                <div class="ProductShow_l_f">
                    <a href="goodslist">
                        <img src="http://juhuispace.juhuiny.com/2019/09/6b87f201909306837.jpg" style="width: 332px;height: 340px;">
                    </a>

                </div>
            </div>
        </div>
    </div>
    <!--center-->
    <div class="ProductShow_middle">
        <div class="ProductShow_m_t">
            <a href="goodslist">
                <img src="http://juhuispace.juhuiny.com/2019/09/3c6c320190930679.jpg">
            </a>
        </div>
        <div class="ProductShow_m_f">
            <div><a href="goodslist">
                <span>荞麦</span>是从野生荞麦演化出来的，但野生荞麦是一种藤本植物，荞麦是直立茎的，荞麦种子是三角形，被一个硬壳包裹，去壳后磨面食用。
                荞麦生长期短，可以在贫瘠的酸性土壤中生长，不需要过多的养分和氮素，下种晚，在比较凉爽的气候下开花，可以作为绿肥、饲料或防止
                水土流失的覆盖植物。
            </a></div>
        </div>
    </div>
    <!--center——End-->

    <!--right-->
    <div class="jfcpright fr">
        <div class="tjcp_title">
            <div class="tjcpleft">
                <p> Hot Products<br />
                    <span>热销产品推荐</span> </p>
            </div>
            <a href="goodslist" target="_blank"><img src="http://juhuispace.juhuiny.com/2019/09/9d0e2201909306530.gif" width="59" height="20" /></a> </div>

        <div class="tjcp_nr">
            <ul>
                <li>
                    <a href="goodslist">
                        <img src="http://juhuispace.juhuiny.com/2019/09/ad3aa201909306403.jpg">
                    </a>
                </li>
                <li>
                    <a href="goodslist">
                        <img src="http://juhuispace.juhuiny.com/2019/09/5f301201909308229.jpg">
                    </a>
                </li>
                <li>
                    <a href="goodslist">
                        <img src="http://juhuispace.juhuiny.com/2019/09/9cad8201909304198.jpg">
                    </a>
                </li>
                <li>
                    <a href="goodslist">
                        <img src="http://juhuispace.juhuiny.com/2019/09/0f657201909309238.jpg">
                    </a>
                </li>
            </ul>
        </div>
        <div class="ProductShow_r_f">
            <ul>
                <li><a href="goodslist"><span>高粱</span>禾本科，高粱属，一年生草本，杆实心，中心有髓。</a></li>
                <li><a href="goodslist"><span>绿豆</span>是一种豆科、蝶形花亚科豇豆属植物，原产印度缅甸地区。</a></li>
                <li><a href="goodslist"><span>黍子</span>单子叶禾本科植物，生长在北方，耐干旱。</a></li>
                <li><a href="goodslist"><span>燕麦</span>又名雀麦、野麦，营养价值高。</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>

<!--产品中心的结束-->
<!--广告的开始-->
<div class="fxgg"></div>
<!--广告的结束-->

<!--优势的开始-->
<div class="yszs"></div>
<div class="ysnr">
    <div class="qyfc">
    <div class="news-title" style="">
        <div class="ju_title_bg">
            <div class="i_title white f_16">企业风采</div>
        </div>
    </div>
    <div class="jd_pic">
        <div id="list">
            <ul>
                <li>
                    <div class="box"><a href="/index/toPictureList">
                        <img src="http://juhuispace.juhuiny.com/2019/09/4bdf720190930115.jpg" alt="图片" width="281" height="158">
                    </a>
                        <div class="tip" classname="tip" style="left: 0px;">图片</div>
                    </div>
                </li>
                <li>
                    <div class="box">
                        <a href="/index/toPictureList">
                        <img src="http://juhuispace.juhuiny.com/2019/09/99563201909308136.jpg" alt="图片" width="281" height="158">
                    </a>
                        <div class="tip" classname="tip" style="left: 0px;">图片</div>
                    </div>
                </li>
                <li>
                    <div class="box"><a href="/index/toPictureList">
                        <img src="http://juhuispace.juhuiny.com/2019/09/14365201909306488.jpg" alt="图片" width="281" height="158">
                    </a>
                        <div class="tip" classname="tip" style="left: 0px;">图片</div>
                    </div>
                </li>
                <li>
                    <div class="box"><a href="/index/toPictureList">
                        <img src="http://juhuispace.juhuiny.com/2019/09/20185201909302135.jpg" alt="图片" width="281" height="158">
                    </a>
                        <div class="tip" classname="tip" style="left: 0px;">图片</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div class="bghj">
        <div class="news-title" style="">
            <div class="ju_title_bg">
                <div class="i_title white f_16">新闻资讯</div>
            </div>
        </div>
        <div class="i_zixun_list">
            <ul>
                <li>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td width="61" class="tds" height="60" align="center">2018-08-19</td>
                            <td width="480" height="60" align="left" style="padding-left:10px;">
                                <p class="f_12 c_666"><a href=""><strong class="f_14">恭贺我公司被认定为2018年度自治区 “专精特新”示范企业</strong></a>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td width="61" height="60"  class="tds"  align="center">2016-07-26</td>
                            <td width="480" height="60" align="left" style="padding-left:10px;">
                                <p class="f_12 c_666"><a href=""><strong class="f_14">自治区非公经济服务局处长杜宏到宁夏瑞春杂粮股份有限公司调研</strong></a>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>  <li>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td width="61" height="60"  class="tds"  align="center">2016-07-26</td>
                            <td width="480" height="60" align="left" style="padding-left:10px;">
                                <p class="f_12 c_666"><a href=""><strong class="f_14">自治区非公经济服务局处长杜宏到宁夏瑞春杂粮股份有限公司调研</strong></a>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>  <li>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td width="61" height="60"  class="tds"  align="center">2016-07-26</td>
                            <td width="480" height="60" align="left" style="padding-left:10px;">
                                <p class="f_12 c_666"><a href=""><strong class="f_14">自治区非公经济服务局处长杜宏到宁夏瑞春杂粮股份有限公司调研</strong></a>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="jdbj">
    <div class="syqlj">
        <div class="news-title-yq" style="">
            <div class="ju_title_bg">
                <div class="i_title white f_16">友情链接</div>
            </div>
        </div>
        <div class="picMarquee-left">
            <div class="bd">
                <ul class="picList">
                    <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic1.jpg" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic2.jpg" /></a></div>
                    </li>  <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic2.jpg" /></a></div>
                    </li>  <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic2.jpg" /></a></div>
                    </li>  <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic2.jpg" /></a></div>
                    </li>  <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic2.jpg" /></a></div>
                    </li>  <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic2.jpg" /></a></div>
                    </li>  <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic2.jpg" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic3.jpg" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic4.jpg" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic5.jpg" /></a></div>
                    </li>
                    <li>
                        <div class="pic"><a href="" target="_blank"><img src="http://www.superslide2.com/demo/images/pic6.jpg" /></a></div>
                    </li>
                </ul>
            </div>
        </div>
        <script id="jsID" type="text/javascript">jQuery(".picMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:1,interTime:10,trigger:"click"});</script>
    </div>
</div>
<!--友情链接的结束-->
{include file="./index/public/footer"/}