{include file="./index/public/header"/}
<div id="content">
    <form action="" method="post" name="Form" id="Form">
        <div class="gywmban"></div>
        <!-- 标题 -->
        <div class="news_list_title">
            <div class="news_list_title_content">
                <div class="news_list_title_left left">
                    <img src="/static/index/icon/title_top_hr.png">
                </div>
                <div class="news_list_title_right right">
                    <ul style="list-style-type: none;">
                        <li>当前位置：</li>
                        <li><a href="/index/login_toIndex">首页</a> &gt;</li>
                        <li><a href="/index/toNewsList">企业新闻</a> </li>

                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="sub_content">

            <!-- 右侧导航 -->
            <div class="sub_nav left">

                <ul class="sub_nav_ul ce">
                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>谷物类</a>
                    </li>
                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>杂豆类</a>
                    </li>
                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>块茎类</a>
                    </li>
                </ul>
                <div class="nav_connaction">
                    <img src="/static/index/icon/webcontact.jpg" width="100%">
                    <div style="width: 151px;margin: 0 auto; ">
                        <img src="/static/index/icon/wcode_rr.jpg" height="150px" width="150px">
                        <div style="text-align: center;">扫一扫关注</div>
                    </div>
                    <table width="100%">
                        <tbody><tr>
                            <td width="25px"><img src="/static/index/icon/icon_posiation.png"></td>
                            <td width="55px">地址：</td>
                            <td>酒泉东关十字</td>
                        </tr>
                        <tr>
                            <td><img src="/static/index/icon/icon_tel2.png"></td>
                            <td>电话：</td>
                            <td>0937-2620655</td>
                        </tr>
                        <tr>
                            <td><img src="/static/index/icon/icon_messages.png"></td>
                            <td>邮箱：</td>
                            <td>805578494@qq.com.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 新闻列表 -->
            <div class="ul_list right">
                <div class="text_box">
                    <div class="text_title c_blue f_16">自治区非公经济服务局处长杜宏到宁夏瑞春杂粮股份有限公司调研</div>
                    <div class="text_time f_12"><span>作者:系统管理员  </span><span>来源:本文作者 </span><span>   发布日期:2016-07-26 </span><span>查看次数:12872</span></div>
                    <div class="text_content">
                        <p>
                            sddddd
                        </p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </form>
</div>
{include file="./index/public/footer"/}
