{include file="./index/public/header"/}
    <form action="/index/toZhaopingList" method="post" name="Form" id="Form">
        <div class="news_list_title" style="border-bottom: 1px solid #F4F3F3;">
            <div class="news_list_title_content">
                <div class="news_list_title_left left">
                    <img src="/static/index/icon/title_top_hr.png">
                </div>
                <div class="news_list_title_right right">
                    <ul style="list-style-type: none;">
                        <li>当前位置：</li>
                        <li><a href="/index/login_toIndex">首页</a> &gt;</li>
                        <li><a href="/index/toZhaopingList">招聘中心</a> </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div style="width:1170px;margin:0 auto;">

            <div class="sub_nav left">

                <ul class="sub_nav_ul ce">
                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>谷物类</a>
                    </li>
                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>杂豆类</a>
                    </li>
                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>块茎类</a>
                    </li>
                </ul>
                <div class="nav_connaction">
                    <img src="/static/index/icon/webcontact.jpg" width="100%">
                    <div style="width: 151px;margin: 0 auto; ">
                        <img src="/static/index/icon/wcode_rr.jpg" height="150px" width="150px">
                        <div style="text-align: center;">扫一扫关注</div>
                    </div>
                    <table width="100%">
                        <tbody><tr>
                            <td width="25px"><img src="/static/index/icon/icon_posiation.png"></td>
                            <td width="55px">地址：</td>
                            <td>酒泉东关十字</td>
                        </tr>
                        <tr>
                            <td><img src="/static/index/icon/icon_tel2.png"></td>
                            <td>电话：</td>
                            <td>0937-2620655</td>
                        </tr>
                        <tr>
                            <td><img src="/static/index/icon/icon_messages.png"></td>
                            <td>邮箱：</td>
                            <td>805578494@qq.com.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="green_list">
                <ul>

                    <li>
                        <a href="">
                            <p class=""><strong>1.&nbsp;<span style="text-align: left;">宁夏瑞春杂粮股份有限公司2016年招聘启事</span>
                                <span style="text-align: right;float: right;">2016-07-27 17:38:24.267</span></strong></p>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <p class=""><strong>1.&nbsp;<span style="text-align: left;">宁夏瑞春杂粮股份有限公司招贤纳士啦！！！</span>
                                <span style="text-align: right;float: right;">2018-08-13 15:01:38.089</span></strong></p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </form>
