{include file="./index/public/header"/}
<div class="gywmban"></div>
<div class="fxmain">
    <div class="text_box">
        <div class="text_title c_blue f_16">宁夏瑞春杂粮股份有限公司2016年招聘启事</div>
        <div class="text_time f_12"><span>来源:本文作者 </span><span>   发布日期:2016-07-27 17:38:24.267 </span><span>查看次数:974</span></div>
        <div class="text_content">
            <p style="text-align: center; line-height: 3em;">
            dsdsds dsdsds费大幅度
            </p>
        </div>
        <!--<span>-->
   		<!--<a download="应聘人员登记表.xls" href="" target="_blank">-->
			<!--应聘人员登记表.xls-->
		<!--</a>-->
   <!--</span>-->
    </div>
</div>
{include file="./index/public/footer"/}