{include file="./index/public/header"/}

<div id="content">
    <form action="" method="post" name="Form" id="Form">
        <div class="gywmban"></div>
        <!-- 标题 -->
        <div class="news_list_title">
            <div class="news_list_title_content">
                <div class="news_list_title_left left">
                    <img src="/static/index/icon/title_top_hr.png">
                </div>
                <div class="news_list_title_right right">
                    <ul style="list-style-type: none;">
                        <li>当前位置：</li>
                        <li><a href="/index/login_toIndex">首页</a> &gt;</li>
                        <li><a href="/index/toNewsList">企业新闻</a> </li>

                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

        <div class="sub_content">

            <!-- 右侧导航 -->
            <div class="sub_nav left">

                <ul class="sub_nav_ul ce">
                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>谷物类</a>
                    </li>
                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>杂豆类</a>
                    </li>
                    <li class="sub_nav_ul_li"><a href=""> <span>
							» </span>块茎类</a>
                    </li>
                </ul>
                <div class="nav_connaction">
                    <img src="/static/index/icon/webcontact.jpg" width="100%">
                    <div style="width: 151px;margin: 0 auto; ">
                        <img src="/static/index/icon/wcode_rr.jpg" height="150px" width="150px">
                        <div style="text-align: center;">扫一扫关注</div>
                    </div>
                    <table width="100%">
                        <tbody><tr>
                            <td width="25px"><img src="/static/index/icon/icon_posiation.png"></td>
                            <td width="55px">地址：</td>
                            <td>酒泉东关十字</td>
                        </tr>
                        <tr>
                            <td><img src="/static/index/icon/icon_tel2.png"></td>
                            <td>电话：</td>
                            <td>0937-2620655</td>
                        </tr>
                        <tr>
                            <td><img src="/static/index/icon/icon_messages.png"></td>
                            <td>邮箱：</td>
                            <td>805578494@qq.com.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 新闻列表 -->
            <div class="ul_list right">
                <ul class="news_list">

                    <li>
                        <div class="date left">
                            <p>2016-03-09</p>
                        </div>
                        <div class="content right">
                            <h3 class="mores"><a href="/index/login_toTEST?TNEWS_ID=7ce945f63597422cb86d855aae4cf9f1&amp;CLICKRATE=3670">宁夏农科院专家到宁夏瑞春杂粮公司调研指导工作</a></h3>
                            <p>
                                2016年2月24日下午，宁夏农科院李月祥院长在宁夏农科院固原分院郭志乾院长的陪同下，和全区杂粮专家一行到宁夏瑞春杂粮公司调研指导工作。赵春祥总经理陪同
                                <a style="color: #D00707;" href="/index/login_toTEST?TNEWS_ID=7ce945f63597422cb86d855aae4cf9f1&amp;CLICKRATE=3670">[查看更多]</a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="date left">
                            <p>2016-03-11</p>
                        </div>
                        <div class="content right">
                            <h3 class="mores"><a href="/index/login_toTEST?TNEWS_ID=0e1178fbe3ac4366b49c0c5a65d5ffd3&amp;CLICKRATE=2683">杂粮巧安排吃出健康来</a></h3>
                            <p>
                                五谷杂粮与大米或者
                                <a style="color: #D00707;" href="/index/login_toTEST?TNEWS_ID=0e1178fbe3ac4366b49c0c5a65d5ffd3&amp;CLICKRATE=2683">[查看更多]</a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="date left">
                            <p>2016-03-11</p>
                        </div>
                        <div class="content right">
                            <h3 class="mores"><a href="/index/login_toTEST?TNEWS_ID=1257350312f840a2ab4eda7f3a30c1d6&amp;CLICKRATE=2854">2016年全国杂粮生产技术指导意见</a></h3>
                            <p>
                                农业部小宗粮豆专家指导组
                                <a style="color: #D00707;" href="/index/login_toTEST?TNEWS_ID=1257350312f840a2ab4eda7f3a30c1d6&amp;CLICKRATE=2854">[查看更多]</a>
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="date left">
                            <p>2016-03-11</p>
                        </div>
                        <div class="content right">
                            <h3 class="mores"><a href="/index/login_toTEST?TNEWS_ID=16a074b55fb14472a28ff0297572f96b&amp;CLICKRATE=2702">粗粮食品香港内地供需两旺 财富之门已然开启</a></h3>
                            <p>
                                长期被看好的粗粮食品行业，在2014年伊始迎来集中爆发阶段。日前，营业面积达三百平方米的绿色食品旗舰店在香港繁华商业区北角隆重开业。香港绿色食品旗舰店经销的产品
                                <a style="color: #D00707;" href="/index/login_toTEST?TNEWS_ID=16a074b55fb14472a28ff0297572f96b&amp;CLICKRATE=2702">[查看更多]</a>
                            </p>
                        </div>
                    </li>
                </ul>
                <!--分页-->
                <!--分页-->
            </div>

            <div class="clear"></div>
        </div>
    </form>
</div>
{include file="./index/public/footer"/}
