{include file="./index/public/header"/}
<div class="ny_content">
    <div class="map">
        <div class="map_title c_blue"><a>网站留言</a></div>
        <div class="map_nav">您当前的位置：<a href="/">首页</a> &gt; <a href="">网站留言</a> </div>
    </div>
    <div class="jingqu_list">
        <form action="##" onclick="return false;">
            <table cellpadding="0" cellspacing="0" align="center" width="100%">
                <tbody>
                <tr style="height: 45px;">
                    <td colspan="4" id="title-s" style="background-color:#4CAF50;">订购预约</td>
                </tr>
                <tr style="height: 45px;background-color:#72727275;">
                    <td width="17%" align="center">单位/姓名：</td>
                    <td><input type="text" name="user_name"></td>
                </tr>
                <tr style="height: 45px;background-color:#72727275;">
                    <td width="17%" align="center">联系方式：</td>
                    <td><input type="text" name="user_tel"></td>
                </tr>
                <tr style="height: 45px;background-color:#72727275;">
                    <td align="center">内容：</td>
                    <td colspan="3"><textarea name="user_message" id="user_message" rows="10" cols="80"></textarea></td>
                </tr>
                <tr style="height: 45px;background-color:#72727275;">
                    <td></td>
                    <td colspan="3">
                        <input type="hidden" name="r" value="1251">
                        <input id="in-sub" type="submit" value="提交">
                    </td>
                </tr>
                <tr style="height: 45px;"><td colspan="4" style="background-color:#72727275;"></td></tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
{include file="./index/public/footer"/}