<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-sm12">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-card-header">
            <a href="#/juhui/addfiles" class="layui-btn layui-btn-xs">
              <i class="layui-icon">&#xe654;</i>
              <span>新增</span>
            </a>
            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="search_hash">
              <i class="layui-icon">&#xe615;</i>
            </a>
          </div>
          <div class="layui-card-body">
            <table lay-filter="demo"  lay-data="{page:true}" >
              <thead>
              <tr>
                <th lay-data="{field:'id', width:80, sort:true}">id</th>
                <th lay-data="{field:'title', width:100}">标题</th>
                <th lay-data="{field:'pic', width:200}">文件</th>
                <th lay-data="{field:'pic_url', width:500}">文件链接</th>
                <th lay-data="{field:'操作', width:200}">操作</th>
              </tr>
              </thead>
              <tbody>
              {if !empty($files)}
              {foreach $files as $vo}
              <tr>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td><img src="{$vo.pic}" onclick="previewImg(this);" width="50"></td>
                <td>{$vo.pic_url}<span class="copy" onclick="copytext('{$vo.pic}')" >复制</span></td>
                <td>
                  <a href="javascript:;" data-ids="112" data-url="{:url('index/fileManage')}" id="delMenu"><i  class="layui-icon" title="删除数据">&#xe640;</i></a>
                </td>
              </tr>
              {/foreach}
              {/if}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>

  function copytext(id) {
      layui.use('layer', function() {
          var layer = layui.layer;
          layer.msg('复制成功');
      });

      //通过function复制
      var clipboard = new Clipboard('button', {
          // 通过target选择需要被复制的对象
          target: function() {
              return document.querySelector('#copy'+data_id); //复制标签文本
              // return document.querySelector('input'); //复制文本框的值
          }
      });

      clipboard.on('success', function(e) {
          //提示：这里是个坑,需要手动销毁当前的clipboard,否则会触发两次事件
          clipboard.destroy();
      });

      clipboard.on('error', function(e) {
          alert('x')
          //执行失败后需要做的事...
          console.log(e);
          clipboard.destroy();
      });
  }
</script>



{include file="./juhuiadmin/include/layui_init"/}
