<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-sm12">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-card-header">
            <a href="#/juhui/addfiles" class="layui-btn layui-btn-xs">
              <i class="layui-icon">&#xe654;</i>
              <span>新增</span>
            </a>
            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="search_hash">
              <i class="layui-icon">&#xe615;</i>
            </a>
          </div>
          <div class="layui-card-body">
            <table lay-filter="demo"  lay-data="{page:true}" >
              <thead>
              <tr>
                <th lay-data="{field:'id', width:80, sort:true}">id</th>
                <th lay-data="{field:'title', width:100}">标题</th>
                <th lay-data="{field:'pic', width:200}">文件</th>
                <th lay-data="{field:'操作', width:200}">操作</th>
              </tr>
              </thead>
              <tbody>
              {if !empty($files)}
              {foreach $files as $vo}
              <tr>
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td><img src="{$vo.pic}" onclick="previewImg(this)" width="50"></td>
                <td>
                  <a href="javascript:;" data-ids="112" data-url="{:url('index/fileManage')}" id="delMenu"><i  class="layui-icon" title="删除数据">&#xe640;</i></a>
                </td>
              </tr>
              {/foreach}
              {/if}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{include file="./juhuiadmin/include/layui_init"/}
<script>
    function previewImg(obj) {
        var img = new Image();
        img.src = obj.src;
        var height = img.height + 50; //获取图片高度
        var width = img.width; //获取图片宽度
        var imgHtml = "<img src='" + obj.src + "' />";
        //弹出层
        layer.open({
            type: 1,
            shade: 0.8,
            offset: 'auto',
            area: [width + 'px',height+'px'],
            shadeClose:true,//点击外围关闭弹窗
            scrollbar: false,//不现实滚动条
            title: "图片预览", //不显示标题
            content: imgHtml, //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
            cancel: function () {
                //layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', { time: 5000, icon: 6 });
            }
        });
    }
</script>
