<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-xs12">
      <div class="layui-card">

        <!--<div class="layui-card-header">数据表格-> 文档请参考：-->
          <!--<a href="http://wable.html" target="_blank">-->
            <!--<span>http://www.layui.com/doc/modules/table.html</span>-->
          <!--</a>-->
          <!-- -&#45;&#45;&#45;&#45;-->
          <!--<a href="http/demo/table.html" target="_blank">-->
            <!--<span></span>-->
          <!--</a>-->
        <!--</div>-->

        <div class="layui-card-body">
          <div class="layui-card-header">
            <!-- <span>所有会员列表</span> -->
            <a href="#/juhui/addmenu" class="layui-btn layui-btn-xs">
              <i class="layui-icon">&#xe654;</i>
              <span>新增</span>
            </a>
            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="search_hash">
              <i class="layui-icon">&#xe615;</i>
            </a>
          </div>
          <div class="layui-card-body">

            <table lay-filter="demo"  lay-data="{page:true}" >

              <thead>

              <tr>

                <th lay-data="{field:'id', width:100, sort:true}">(编号id)</th>

                <th lay-data="{field:'name', width:150}">菜单名称</th>

                <th lay-data="{field:'path', width:20}">跳转链接</th>

                <th lay-data="{field:'操作', width:80}">操作</th>

              </tr>

              </thead>

              <tbody>
              <tr>
                <td>12</td>

                <td>333</td>

                <td>33333</td>

                <td>
                  <a href="#/website/addmenu?id=112" class="point"><i class="layui-icon" title="编辑数据">&#xe642;</i></a>
                  <a href="javascript:;" data-ids="112" data-url="{:url('index/menu')}" id="delMenu"><i  class="layui-icon" title="删除数据">&#xe640;</i></a>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    layui.config({

        base: ''

    }).use(['jquery', 'mockjs', 'table', 'sidebar', 'form'], function () {

        var $ = layui.jquery,

            sidebar = layui.sidebar,

            form = layui.form;

        var table = layui.table;

        //转换静态表格

        table.init('demo', {

            size: 'sm'

            ,height: 500 //设置高度

            ,limit: 10 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致

            //支持所有基础参数

        });

    });


    layui.jquery(".layui-tab-title li").click(function(){

        var picTabNum = layui.jquery(this).index();

        // console.log("当前图片标题下标是："+picTabNum);

        sessionStorage.setItem("picTabNum",picTabNum);

    });

    layui.jquery(function(){

        var getPicTabNum = sessionStorage.getItem("picTabNum");

        layui.jquery(".layui-tab-title li").eq(getPicTabNum).addClass("layui-this").siblings().removeClass("layui-this");

        layui.jquery(".layui-tab-content>div").eq(getPicTabNum).addClass("layui-show").siblings().removeClass("layui-show");

    })

</script>










<!--右侧搜索form-->
<!--<script type="text/html" id="search_tpl_hash">
  <form class="layui-form" action="">
    <div class="layui-form-item">
      <label class="layui-form-label">用户名</label>
      <div class="layui-input-block">
        <input type="text" name="title" placeholder="请输入用户名.." autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">城市</label>
      <div class="layui-input-block">
        <select name="city">
          <option value=""></option>
          <option value="0">北京</option>
          <option value="1">上海</option>
          <option value="2">广州</option>
          <option value="3">深圳</option>
          <option value="4">杭州</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">是否禁用</label>
      <div class="layui-input-block">
        <input type="checkbox" name="switch" lay-skin="switch">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">性别</label>
      <div class="layui-input-block">
        <input type="radio" name="sex" value="男" title="男">
        <input type="radio" name="sex" value="女" title="女" checked>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="formDemo_hash"><i class="layui-icon">&#xe615;</i> 搜索</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
</script>-->
<!--右侧搜索form-End-->
