<div class="layui-fluid">
  <div class="layui-row">
    <div class="layui-col-sm11">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-card-header">
            <a href="#/juhui/addnews" class="layui-btn layui-btn-xs">
              <i class="layui-icon">&#xe654;</i>
              <span>新增</span>
            </a>
            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary" id="search_hash">
              <i class="layui-icon">&#xe615;</i>
            </a>
          </div>
          <div class="layui-card-body">
            <table lay-filter="demo"  lay-data="{page:true}" >
              <thead>
              <tr>
                <th lay-data="{field:'id', width:100, sort:true}">(编号id)</th>
                <th lay-data="{field:'title', width:200}">（图标）</th>
                <th lay-data="{field:'title', width:200}">新闻标题</th>
                <th lay-data="{field:'url', width:300}">浏览量</th>
                <th lay-data="{field:'url', width:500}">简介</th>
                <th lay-data="{field:'操作', width:100}">操作</th>
              </tr>
              </thead>
              <tbody>
              {if !empty($news)}
              {foreach $news as $vo}
              <tr>
                <td>{$vo.id}</td>
                <td>{$vo.icon}</td>
                <td>{$vo.title}</td>
                <td>{$vo.browse}</td>
                <td>{$vo.intro}</td>
                <td>
                  <a href="#/juhui/details?id={$vo.id}" class="point"><i class="layui-icon" title="查看详情">&#xe642;</i></a>
                  <a href="#/juhui/addnews?id={$vo.id}" class="point"><i class="layui-icon" title="编辑数据">&#xe642;</i></a>
                  <a href="javascript:;" data-ids="112" data-url="{:url('index/news')}" id="delMenu"><i  class="layui-icon" title="删除数据">&#xe640;</i></a>
                </td>
              </tr>
              {/foreach}
              {/if}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
