
<!--footer-->
<div class="layui-footer" kit-footer="true">
    2017 © kit.zhengjinfan.cn MIT license
    <div style="width:400px; height:400px;" class="load-container load1">
        <div class="loader">Loading...</div>
    </div>
</div>
<!--footer-End-->
{js href='../../public/static/juhuiadmin/layui/polyfill.min.js'}
{js href='../../public/static/juhuiadmin/layui/layui.js'}
{js href='../../public/static/juhuiadmin/layui/kitadmin.js'}
{js href='../../public/static/juhuiadmin/layui/mockjs-config.js'}
{js href='../../public/static/juhuiadmin/layui/echarts.min.js'}
<script>layui.use("admin");</script>
{js href='../../public/static/juhuiadmin/layui/lay/modules/jquery.js'}