@charset "utf-8";
/* CSS Document */
body { font-family:"微软雅黑"; font-size:14px; color:#333;line-height: 24px;}
* { margin:0px; padding:0px; list-style:none;}
.clear { clear:both;}
a { color:#333; text-decoration:none;}
a:hover { color:#0e823b; text-decoration:underline;}
.fl { float:left;}
/*.fr { float:right; }*/
ul { list-style:none; margin:0px; padding:0px;}
img { border:0px;}
h1,h2,h5 { margin:0px; padding:0px;}


/*头部代码的开始*/
.itop {width:100%;height:34px;border-bottom: 1px solid #e5e5e5;background: #186d1a;}
.itopc { width:1000px; height:34px; margin:0px auto; line-height:34px;}
.itopcl { width:400px; height:34px; float:left; font-size:12px; color: #ffffff; }
.itopcr { width:600px; float:left; font-size:12px; color:#333;}
.itopcr a { float: right; color: #ffffff; margin-right:10px;}
.itopcr span { font-size:12px; float:right; margin-right:10px;}
.ilogo { width:100%; height:auto; }
.ilogoc { width:1000px; height:auto; margin:0px auto; padding:20px 0px;}
.ilogoc img.ycdh { margin-top:8px;}
.ilogol { width:650px; height:auto; float:left;}
.ilogol img { float:left;}
.ilogol p {  color:#006635; font-weight:bold;  line-height:26px; font-weight:100; margin:0px; padding:60px 12px; float:left;}
.ilogol p strong {  color:#33ac1e; font-size:22px; font-weight:500;}
.ilogol p span { color:#373738; font-size:18px;}
.ilogor { width:auto; float:right; margin-right:0px; margin-top:0px; background: url(/static/index/icon/fuxing_06.gif) no-repeat left 12px; padding-left:50px; padding-top:5px;}
.ilogor p { font-size:14px; color:#373736; line-height:25px; font-weight:100;}
.ilogor p strong { font-size:25px; color:#f67114; font-weight:100;}
.ilogor p span { font-size:16px; color:#df5167;}
.inav { width:100%; border-top: 1px solid #e3e3e3;height:76px; background-color:#ffffff;}
.inavc { width:77%; height:100%; margin:0px auto;}
.inavc ul li { width:161px; height:75px; text-align:center;font-size:18px; line-height:75px; float:left; background: url(/static/index/icon/fuxing_11.gif) no-repeat right center;}
.inavc ul li a { display:block; color:#333;}
.inavc ul li a:hover { background-color:#019944;
    color:#ffffff;text-decoration:none;}
.inavc ul li a.tsy { background-color:#019944; text-decoration:none;}
/*ban部分*/
.iban { width:100%; height:auto;}
.gg{height:610px;position:relative;z-index:1;overflow:hidden;margin:0 auto;background:#d3d3d3 repeat-x;}
.ggLoading{position:absolute;left:40%;top:200px;width:325px;text-align:center;height:56px;background-position:0 -55px;background-repeat:no-repeat;line-height:56px;color:#9c9c9c;}
.ggLoading2{width:330px;height:56px;background-position:213px 0px;background-repeat:no-repeat;}
.ggLoading em{font-weight:bold;}
.ggs{width:200%;height:610px;left:-50%;top:0;position:absolute;}
.ggBox{width:1920px;height:610px;margin:0 auto;}
.ggBox a{display:block;width:1920px;height:610px;position:absolute;z-index:1;opacity:0.1;}
.ggBox img{display:block;width:1920px;height:610px;}
.ggb{position:absolute;width:100%;left:0;bottom:0;height:30px;z-index:4;/*background-color:#32342e;background-repeat:repeat-x;*/background-position:50% -40px;}
.ggBtns{width:132px;height:30px;margin:0 auto;  }
.ggBtns a{float:left; margin-left:8px; display:block;width:25px;height:25px;text-align:center;color:#FFF;background-color:#666; position:relative;top:-10px;outline:none;cursor:pointer;text-decoration:none; font:14px Arial, Helvetica, sans-serif, "新宋体"; line-height:25px; -moz-border-radius: 15px;      /* Gecko browsers */ -webkit-border-radius: 15px;   /* Webkit browsers */ border-radius:15px; }
.ggBtns a em{display:block;width:25px;height:25px;margin:0 auto;overflow:hidden;font-style:normal;}
.ggBtns a:hover{color:#fff;}
.ggBtns a:focus{outline:none;}
.ggBtns a.current{color:#fff;/*background:url(/static/index/icon/gg.png) no-repeat;*/ background-color:#0e823b;}


/*视频和关于我们*/
.spgy { width:1124px; height:auto; margin:20px auto 10px; }
.sspzx1,.gywm1,.scp1,.bgys1 { width:340px; height:40px;  border-bottom:1px solid #e5ebed; }
strong.bt1 { font-size:16px; color:#0e823b;  line-height:40px; padding:0px 10px; font-weight:600;   float:left; }
span.bt2 { font-size:13px; color:#9a9898; float:left; padding-top:10px;}
.sspzx2 { width:340px; height:auto; padding:20px 0px;}
.gywm { width:100%; height:auto; float:right;}
.gywm1 {height: 30px;width: 120px;font-size: 25px;line-height: 30px;text-align: center;color: #53B115;margin: 10px auto;}
a.gd { float:right; margin-right:10px; color:#333; font-size:12px; line-height:40px; display:block;}
.gywm2 { width:100%; height:auto; padding:20px 0px;}
.gywm2 h2 { font-size:18px; line-height:40px;}
.gywm2 img {width: 581px;height: 304px; float:left; border:1px solid #d6d6d6; margin-right:15px; }
.gywm2 p { font-size:14px; color:#666565; text-indent:28px; line-height:30px;}
.gywm2 p a { color:#0e823b;}
.gywm2 ul a {width: 170px;height: 40px;line-height: 40px;text-align: center;background-color: #53B115;float: left;margin-right: 15px;margin-left: 30px;color: #fff;cursor: pointer;margin-top: 10px;}
/*产品中心*/
.jfcp { width:1290px; height:auto; margin:20px auto;}
.jfcpleft { width:210px; height:auto;  }

.jfcp_title {width: 247px;height: 76px;font-size: 25px;text-align: center;margin: auto;}
.fxxian { width:208px; height:auto;border-top:none; }
.jfcp_title p { line-height:28px; padding:10px;color:#FFF;   }
.jfcp_title p strong { font-weight:500;    color: #53b115;}
.jfcp_title p span { font-size:13px; }
.jfcp_nr { width:180px; height:auto; margin:15px auto;}
.jfcp_nr ul li { width:140px; height:30px; line-height:30px; padding-left:40px;  background:#f0f0f0 url(/static/index/icon/tongtai_23-07.gif) no-repeat 20px center; margin-top:10px;  }
.jfcpright { width:502px; height:auto; margin: auto;}
.tjcp_title { width:450px; height:62px; line-height:45px; border-bottom:1px solid #33ac1e;  }
.tjcp_title strong { font-size:16px; color:#333; line-height:43px; float:left; display:block; padding:0px 15px; border-bottom:2px solid #3292d7; }
.tjcpleft { width:200px; float:left; padding:10px; background:url(/static/index/icon/tongtai_15.gif) no-repeat 5px center; line-height:21px;}
.tjcpleft p { color:#414141; padding-left:15px; font-size:12px;}
.tjcpleft p span { color:#33ac1e; font-size:15px;}
.tjcp_title a { float:right; margin-right:10px; margin-top:22px;}
.tjcp_nr { width:450px; height:400px; padding:8px 0px;}
.cpalt { width:232px; height:auto; float:left; margin-left:18px; margin-top:10px; text-align:center; line-height:30px;}
.cpalt img { border:1px solid #CCC; padding:2px;}
.ttlx { width:210px; height:auto; margin-top:15px;}
.ttlx a { width:210px; height:50px; background-color:#0e823b; color:#FFF; font-size:16px; line-height:50px; display:block; text-align:center; margin-top:15px;}
.ttlx a:hover { text-decoration:none; background-color:#085928;}

/*广告*/
.fxgg {margin-top: 83px;width:100%; height:200px; background:url(/static/index/icon/s.png) no-repeat center center;}

.yszs { width:100%; height:130px; background:url(/static/index/icon/news.jpg) no-repeat center center;}
.ysnr {height: 394px;width:1207px;text-align:center; margin:0px auto;}

/*办公环境*/
.bghj { width:566px; height:auto;float: right;}
.bghjc { width:1000px; height:auto; margin:0px auto;}
.bghj_title { width:1000px; height:61px; border-bottom:1px solid #dddddd; }
.bghj_title ul li { width:250px; height:60px; line-height:60px; text-align:center; font-size:18px; float:left;  }
.bghj_title ul li a { color:#666565; display:block;  }
.bghj_title ul li a:hover { color:#0e823b; text-decoration:none; border-bottom:2px solid #0e823b; }
.bghj_nr { width:1020px; height:auto; padding:15px 0px; margin-left:-20px;}
.xian,.yin { width:1020px; height:auto;}
.yin  { display: none;}
.selectTab2 a:link,.selectTab2 a:hover,.selectTab2 a:visited{ border-bottom:2px solid #0e823b; color:#0e823b; }
.selectTab1{}
.bgal { width:230px; height:auto; float:left; margin-left:24px; text-align:center;}
.bgal a { font-size:14px; color:#333; line-height:30px;}
.bgal a:hover { color:#0e823b; text-decoration:underline; }

/*新闻中心*/
.jxwzx { width:1000px; height:auto; margin:20px auto;}
.jdbj { width:100%; height:100px; background-color:#f7f7f7; padding:20px 0px;}
.jnews { width:725px; height:auto; float:left; border:1px solid #cccccc; }
.jnews_title { width:725px; height:45px;  border-bottom:1px solid #d6d6d6; }
.jnews_title ul li { width:362px; height:45px; float:left; text-align:center;}
.jnews_title ul li strong { font-size:15px;  padding-right:10px;}
.jnews_title ul li a { text-decoration:none; color:#666; line-height:44px; display:block;}
.jnews_title ul li a:hover{ color:#0e823b; border-bottom:2px solid #0e823b; }
.jnews_nr { width:725px; height:auto;}
.newsxian,.newsyin { width:725px; height:auto;}
.newsyin { display: none;}
.selectTab4 a:link,.selectTab4 a:hover,.selectTab4 a:visited{ border-bottom:2px solid #0e823b; color:#0e823b; }
.selectTab3{}
.newsc { width:695px; height:auto; margin:10px auto;}
.newss { width:695px; height:auto; padding:10px 0px 15px 0px; border-bottom:1px dashed #cccccc; }
.newss a { font-size:14px; line-height:50px; color:#333; font-weight:bold;}
.newss a:hover { color:#3292d7;}
.newss p { font-size:12px; color:#666; line-height:24px;}
.newss img { float:left; margin-right:15px; }
.newss_list { width:695px; height:auto; padding:10px 0px;}
.newss_list ul li { width:675px; height:30px; line-height:30px; padding-left:20px; background:url(/static/index/icon/jiangfan_62.gif) no-repeat 5px center;}
.newss_list ul li a { float:left; color:#666; font-size:12px;}
.newss_list ul li a:hover { float:left; color:#3292d7; text-decoration:underline;}
.newss_list ul li span { color:#999; float:right; margin-right:5px;}
.jlxwm { width:255px; height:auto; border:1px solid #ccc;}
.jlxwm1 { width:255px; height:45px; border-bottom:1px solid #ccc;}
.jlxwm2 { width:255px; height:auto; }
.slxwmc { width:235px; height:auto; padding:5px 10px;}
.slxwmc p { padding-left:15px; line-height:27px; font-size:14px; padding-bottom:14px;}
.slxwmc p strong { font-size:18px; line-height:40px;}
.jlxwm1 strong.bt1 { line-height:45px; font-weight:bold;}
.dianhua {background: url(/static/index/icon/fuxing_39.gif) no-repeat scroll 15px 14px transparent;color: #666666;line-height: 20px;padding: 10px 0px 0px 60px;}
.dianhua span {color: #282b33;display: block;font: 18px "Impact";}
/*友情链接*/
.jdbj { width:100%; height:auto; background-color:#f7f7f7; padding:20px 0px;}
.syqlj { width:1152px; height:auto; margin:0px auto;}
.yqljs { width:1000px; height:auto; padding:15px 0px;}
.yqljs a { color:#333; float:left; margin-left:10px; line-height:30px;}
/*底部代码的开始*/
.footWrap { width:100%; height:auto; background-color:#333333;}
.hbfooter { width:1000px; height:auto; margin:0px auto; }
.footer_nav { width:100%; height:44px; border-bottom:1px solid #6d6c6c; }
.fnavc { width:1032px; height:44px; margin:0px auto; }
.fnavc a { padding: 0 18px;color: #fff; font-size: 13px; line-height:44px;/* background: url(/static/index/icon/shibajie_41.gif) no-repeat right center;*/}
.hbbottom { width:1000px; height:auto; padding:35px 0px;}
.hbtmleft { width:630px; height:auto; float:left;}
.hbtmleft p { font-size:13px; color: #FFF; line-height:36px;  }
.hbtmleft p a { color:#FFF;}
.hbtmleft strong { color:#016832; font-size:18px; }
.hbtmright { width:88px; height:auto; float:right; margin-right:20px; text-align:center; line-height:30px; color:#FFF; font-size:13px;}
/*关于我们*/
.gywmban { width:100%; height:379px; background:url(/static/index/icon/baijing.png) no-repeat center center;}
.cpzxban { width:100%; height:200px; background:url(/static/index/icon/baijing.png) no-repeat center center;}
.newsban { width:100%; height:200px; background:url(/static/index/icon/baijing.png) no-repeat center center;}
.lxwmban { width:100%; height:200px; background:url(/static/index/icon/baijing.png) no-repeat center center;}

.fxmain { width:1000px; height:auto; margin:25px auto;}
.fx_fenlei { width:998px; height:40px; border:1px solid #c8c8c8; line-height:40px; }
.leibei { width:auto; height:40px;   }
.leibei ul li { width:auto;  font-size:14px; float:left;   }
.leibei ul li a { display:inline-block;padding:0px 20px; border-right:1px solid #c8c8c8; }
.leibei ul li a.diyi{ background-color:#0e823b; color:#FFF; }
.leibei ul li a:hover { background-color:#0e823b; color:#FFF; text-decoration:none;}
.dqwz { width:auto; height:40px; font-size:12px; padding-right:10px;}
.fxmain_nr { width:1000px; height:auto; padding:20px 0px; }
.fxmain_nr p { font-size:14px; color:#333; padding:5px 10px; line-height:30px; text-indent:28px;}
.fxmain_nr h2 { font-size:18px; color:#333; line-height:30px; text-align:center;}
.fxmain_nr h5 { color:#999; line-height:20px; text-align:center; font-size:12px; font-weight:normal; margin-bottom:10px;}

.cpaltzy { width:232px; height:auto; float:left; margin-left:14px; margin-top:10px; text-align:center; line-height:30px;}
.cpaltzy img { border:1px solid #CCC; padding:2px;}

/*分页*/
.fy{text-align:center;padding-top:40px}
.fy a{display:inline-block;padding:4px 10px;border:1px solid #ededed;margin:0 2px;color:#ACACAC;text-decoration:none}
.fy .ac{background:#0e823b;border-color:#0e823b;color:#fff}
.fy a:hover{background:#0e823b;border-color:#0e823b;color:#fff}

.newsal { width:1000px; height:auto; margin-top:10px; padding:10px 0px; border-bottom:1px dashed #d6d6d6; }
.newsal img { float:left; margin-right:15px;}
.newsal h2.xwbt { font-size:16px; line-height:35px; margin:0px; padding:0px; font-weight:bold; text-align:left; }
.newsal p { font-size:14px; color:#333; line-height:26px;  padding:6px 0px;}
/*联系我们*/
.lxwmxx { width:400px; height:auto; font-size:14px; color:#333; line-height:30px;  }
.lxwmxx p { text-indent:0px;}
.lxwmxx h1 { font-size:16px; color:#333;}
.fzxly { width:830px; height:auto; margin:20px auto; font-size:16px; line-height:40px; color:#333;}
.fzxly  table td { height:50px;}
.fzxly  input { width:350px; height:28px; line-height:28px; border:1px solid #CCC;}
.fzxly  img { vertical-align:middle;}
.tjan { width:430px; height:auto; padding:30px 200px; text-align:center;}
.tjan a { width:120px; height:40px; text-align:center; font-size:16px; line-height:40px; background-color:#0e823b; display:block; color:#FFF; text-decoration:none; border-radius:5px;}
.tjan a:hover { background-color:#0c7233; }


/*二*/
.ProductShow_l_t {
    width: 300px;
    height: 200px;
}
.ProductShow_l_t span{
    font-size: 30px;
}
.ProductShow_l_t div {
    width: 332px;
    height: 160px;
    margin-top: 50px;
    margin-left: 10px;
}
.tjcp_nr li {
    width: 220px;
    height: 200px;
    margin-left: 2px;
    margin-bottom: 5px;
    float: left;
}
.tjcp_nr img {
    width: 220px;
    height: 200px;
}
.tjcp_nr {
    width: 450px;
    height: 120px;
    margin-top: 20px;
    margin-left: 25px;
}
.tjcp_nr li {
    line-height: 40px;
}
a:link, a:visited, a:active {
    color: #666;
    text-decoration: none;
}
a:link:hover, a:visited:hover, a:active:hover {
    color: #186d1a;
    text-decoration: none;
}
.tjcp_nr li span {
    margin-top: 30px;
    font-size: 20px;
}

.ProductShow_r_f {
    width: 420px;
    height: 120px;
    margin-top: 20px;
    margin-left: 25px;
}
.ProductShow_r_f li {
    line-height: 40px;
}
.ProductShow_r_f li span {
    margin-top: 30px;
    font-size: 20px;
}

.ProductShow_middle {
    width: 395px;
    height: 600px;
    float: right;
    margin-right: 10px;
}
.ProductShow_m_t {
    width: 395px;
    height: 400px;
}
.ProductShow_m_t img {
    width: 395px;
    height: 400px;
}
/*二部分-ENd*/

/*news*/
.news-title {
    width: 564px;
    overflow: hidden;
    float: left;
}
.news-title2 {
    width: 564px;
    overflow: hidden;
    float: right;
}


.ju_title_bg{
    width: 100%;
    height: 56px;
    background: #eff4fa;
    overflow: hidden;
    float: left;
}
.i_title {
    width: 135px;
    height: 56px;
    line-height: 56px;
    background: #333;
    color: #fff;
    text-align: center;
    overflow: hidden;
    float: left;
}
.jd_pic {
    width: 566px;
    overflow: hidden;
    float: left;
}
#list li {
    width: 281px;
    height: 158px;
    list-style: none;
    color: #fff;
    margin: 1px 1px 0px 0px;
    cursor: pointer;
    overflow: hidden;
    float: left;
}
#list div.box {
    width: 281px;
    height: 158px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
}
#list div.tip {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    width: 281px;
    background: #0000006b;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.i_zixun_list {width: 560px;overflow: hidden;float: right;margin: 5px;}
.i_zixun_list li{margin-top: 18.1px;}
.tds{background: #e2edff;}
.tds:hover {background: #0e823b; color:#ffffff;}
.qyfc{width: 566px;float: left;border-right: 1px solid #0e823b;padding-right: 22.9px;margin-left: 27px;}
/*news-ENd*/


/*友情链接*/
.picMarquee-left{ overflow:hidden; position:relative;}
.picMarquee-left .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.picMarquee-left .hd .prev,.picMarquee-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;}
.picMarquee-left .hd .next{ background-position:0 -50px;  }
.picMarquee-left .hd .prevStop{ background-position:-60px 0; }
.picMarquee-left .hd .nextStop{ background-position:-60px -50px; }
.picMarquee-left .bd{ padding:10px;   }
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picMarquee-left .bd ul li .pic{ text-align:center; }
.picMarquee-left .bd ul li .pic{ height: 100px;}
.picMarquee-left .bd ul li .pic img{ width:120px; height:90px; display:block; padding:2px;}
.picMarquee-left .bd ul li .title{ line-height:24px;   }
.tempWrap{width: 99%!important;}
.news-title-yq{width:1181px;overflow:hidden;}
/*友情链接-End*/

/*关于我m*/
.news-title-ab{width: 1000px;overflow:hidden;}
/*关于我m-ENd*/

/*goods*/

.ul_list{width: 875px;margin: 20px 0;}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear:both;
}

.ny_web_img{
    width:100%;
    height:379px;
    background-image:url(../images/baijing.jpg);
}
.news_list_title{
    height:51px;
    padding-top: 25px;
    border-bottom: 1px solid #F4F3F3;
}

.news_list_title_content{
    width: 1170px;
    height:50px;
    margin: auto;
    overflow: hidden;
}
.news_list_title_content .news_list_title_left{
    width: 205px;
    margin: 0 20px;
}

.news_list_title_right{
    width:875px;
    margin-top:12px;
}
.news_list_title_right .title{
    height:30px;
}
.news_list_title_right .title div{
    float:left;
    background: #E97708;
    color:#FFF;
    width:18px;
    height: 18px;
    text-align:center;
    line-height: 18px;
    margin-top:5px;
    margin-right: 20px;
}
.news_list_title_right .title h1{
    color:#653F2A;
    float: left;
}

.news_list_title_right .title font{
    display:block;
    float:left;
    margin-left: 10px;
    margin-top:8px;
    color:653F2A;
    font-size:16px;
}

.news_list_title_right ul{
    height:30px;
}
.news_list_title_right ul li{
    float:left;
    line-height: 30px;
    margin-left: 5px;
}
.news_list_title_right ul li:first-child{
    color: #A8A0A0;
}
.news_list_title_right ul li a{
    color: #737171;
}

.sub_content{
    width: 1170px;
    margin: auto;
    margin-bottom: 30px;
}

/*左侧导航*/
.sub_nav{
    width: 205px;
    margin: 0 20px;
    position: relative;
    top: -1;
    background: #FFF;
}
.sub_nav .sub_nav_ul{
    padding: 0 30px;
    margin-bottom: 20px;
    border:1px solid #EBEBEB;
    border-top: none;
    list-style-type: none;
}
.sub_nav .sub_nav_ul li{
    line-height:55px;
    border-bottom: 1px solid #F0F0F0;
    padding-left:20px;
}
.sub_nav .sub_nav_ul li:last-child{
    border-bottom: 1px solid #fff;
}
.sub_nav .sub_nav_ul li.active,.sub_nav .sub_nav_ul li:hover{
    background: #333;
    margin-left:-40px;
    margin-right: -50px;
    line-height: 55px;
    padding-left:60px;
    border: none;
}
.sub_nav .sub_nav_ul li a{
    font-size: 18px;
    color:#747474;
    cursor: pointer;
    font-size: 16px;
}

.sub_nav .sub_nav_ul li a span{
    color: #DEDEDE;
}
.sub_nav .sub_nav_ul li.active a,.sub_nav .sub_nav_ul li:hover a{
    color: #fff;
}

.sub_nav .sub_nav_ul li ul.sub_nav_ul2{
    display: none;
}
.sub_nav .sub_nav_ul li ul.sub_nav_ul2 li{
    border: none;
    padding-left: 15px;
}
.sub_nav .sub_nav_ul li ul.sub_nav_ul2 li a{
    font-size: 16px;
}
.sub_nav .sub_nav_ul2 li:hover{
    background: none;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 55px;
    padding-left: 30px;
}
.sub_nav .sub_nav_ul li:hover ul li a{
    color: #747474;
}
.sub_nav .sub_nav_ul li:hover ul li:hover a{
    color: #E97708;
}

.sub_nav .sub_nav_ul li ul.sub_nav_ul3{
    display: none;
}
.sub_nav .sub_nav_ul li ul.sub_nav_ul3 li{
    border: none;
    padding-left: 20px;
}
.sub_nav .sub_nav_ul li ul.sub_nav_ul3 li a{
    font-size: 14px;
}
.sub_nav .sub_nav_ul li:hover ul li:hover ul.sub_nav_ul3 li a,.sub_nav .sub_nav_ul li.active ul li a{
    color: #747474;
}
.sub_nav .sub_nav_ul li:hover ul li:hover ul.sub_nav_ul3 li:hover a{
    color: #E97708;
}

.nav_connaction{
    padding:8px;
    font-size:16px;
    line-height: 30px;
    border:1px solid #EBEBEB;
}

.ewm span{
    line-height: 18px;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 18px;
}
.nav_connaction table{
    color:#999999;
    font-size: 12px;
}
.nav_connaction table img{
    height: 20px;
}
.nav_connaction table tr td{
    vertical-align: top;
    line-height: 22px;
    padding: 5px 0;
}
.ul_list ul li:hover {
    background-color: #05ad050f;
}
/*goods_end*/

/*newsList*/
.ul_list{
    width:875px;
    margin:20px 0;
}
.ul_list .news_list{
    line-height: 40px;
    font-size: 14px;
}
.ul_list .news_list li{
    border-bottom: 1px dashed #D1D1D1;
    padding: 20px 0;
    zoom: 1;
    _zoom: 1;
    overflow: hidden;
}
.ul_list .news_list li .date{
    border: 1px solid #05AD05;
    color: #05AD05;
    width: 10px;
    text-align: center;
    height: 10px;
}
.ul_list .news_list li .date p{
    background: #05AD05;
    height:60px;
    width:50px;
    line-height:30px;
    color: #fff;
}
.ul_list .news_list li .content{
    width: 800px;
    color: #959191;
    line-height: 25px;
}
.ul_list .news_list li .content h3 a{
    font-size: 16px;
    font-weight: bold;
    color: #1F4A85;
}
.ul_list .news_list li .content .mores a:HOVER{
    color: #53B115;
}
/*newsList_eng*/