<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>title</title>
    {css href='/static/index/css/style.css'}
    {js href='/static/index/js/jquery-1.9.1.min.js'}
    {js href='/static/index/js/jquery.SuperSlide.2.1.3.js'}
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="baidu-site-verification" content=""/>
</head>
<body>
<!--新头部的开始-->
<div class="itop">
    <div class="itopc">
        <div class="itopcl"><span>炬晖农业</span></div>
        <div class="itopcr"><a href="#">在线留言</a><span>|</span><a href="#">联系我们</a></div>
    </div>
</div>
<div class="ilogo">
    <div class="ilogoc">
        <div class="ilogol"><img src="/static/index/icon/juhui.gif" width="193" />
            <p><span>炬晖 农业</span><br>
                <strong>专业的小米产品生产商</strong></p>
        </div>
        <div class="ilogor">
            <p>全国咨询热线：<br>
                <strong>0937-2620655</strong></p>
        </div>

          <div class="tq">
              <iframe allowtransparency="true" frameborder="0" width="410" height="98" scrolling="no" src="http://tianqi.2345.com/plugin/widget/index.htm?s=2&amp;z=1&amp;t=1&amp;v=0&amp;d=2&amp;bd=0&amp;k=000000&amp;f=&amp;q=1&amp;e=1&amp;a=0&amp;c=53817&amp;w=410&amp;h=98&amp;align=center"></iframe>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="inav">
    <div class="inavc">

        <ul>
            <li><a href="/" class="tsy">网站首页</a></li>
            {foreach $menu as $vo}
            <li><a href="{$vo.url}">{$vo.title}</a></li>
            {/foreach}
        </ul>

    </div>
</div>
<!--新头部的结束-->